<div class="memo-input">
  <div class="container">
    <form class="form" action="/memos" method="post">
      <input type="text" class="title" name="title" placeholder="タイトル">
      <textarea class="content" name="content" rows="5" placeholder="詳細内容"></textarea>
      <input type="submit" class="btn" value="送信">
    </form>
  </div>
</div>
